.timeline-item {

    &__content {
        padding-bottom: var(--mb-2);
    }

    &__time {
        display: inline-block;
        margin: 0 0 var(--mb-4) 0;
        padding: .5rem var(--mb-2);
        background: var(--primary-color);
        color: #fff;
        border-radius: var(--mb-2);
    }

    &__tag-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: inherit;
    }

    &__tag {
        background-color: rgb(126, 196, 60);
        padding: .2rem .5rem;
        color: #fff;
        margin-right: .5rem;
        margin-bottom: .2rem;
        font-size: 0.6rem;
        border-radius: .2rem;
    }

    &__project{
        
        margin: 0 0 .5rem;
        
        &-title {
            padding: var(--mb-2) 0;
            margin: var(--mb-2) 0;
            border-bottom: .1rem solid var(--secondary-color);
            font-style: oblique;
            font-weight: var(--font-semi);
        }

        a {
            display: inline-block;
            padding: .5rem;
            width: 100%;
            background: var(--secondary-color);
            text-decoration: none;
            color: #fff;
            white-space: nowrap;

            &:visited {
                color: #fff;
            }

            i {
                display:none;
            }
        }
    }
}

@media screen and(min-width: 768px) {

    .timeline-item {
        &__project{
            a {
                width: 80%;
                i {
                    margin: 0 .5rem;
                    vertical-align: middle;
                    display:inherit;
                }
            }
        }

        // &__tag-container{
        //     display: inherit;
        //     flex-wrap: nowrap;
        // }
    }

}