.timeline-item {

    &__content {
        padding-bottom: var(--mb-2);
    }

    &__time {
        display: inline-block;
        margin: 0 0 var(--mb-4) 0;
        padding: .5rem var(--mb-2);
        background: var(--primary-color);
        color: #fff;
        border-radius: var(--mb-2);
    }

    &__project{
        
        margin: 0 0 .5rem;
        
        &-title {
            padding: var(--mb-2) 0;
            margin: var(--mb-2) 0;
            border-bottom: .1rem solid var(--secondary-color);
        }

        a {
            display: inline-block;
            padding: .5rem;
            width: 60%;
            background: var(--secondary-color);
            text-decoration: none;
            color: #fff;

            &:visited {
                color: #fff;
            }
        }
    }
}