.education {
    text-align: center;
    &__container{
        display: flex;
        flex-direction: column;
        // text-align: center;
    }
}

.award {
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }
    
    &__item {
        display: flex;
        flex-direction: column;

        img {
            flex: 0 1 75%;
            
            width:100%;
            margin-bottom: 1rem;
            padding: var(--mb-2);
            border-top: 2px solid var(--secondary-color);
        }

        h4 {
            color: var(--primary-color);
            text-align: center;
        }

    }
}

/*------ Media Query ------*/
@media screen and(min-width: 768px) {
    .education {
        text-align: left;
        &__container {
            flex-direction: row;
    
            & > * {
                flex: 0 1 50%;
            }
        }
    }

    .award {
        &__container {
            grid-template-columns: repeat(4, 1fr);
        }
        
        &__item {
            img {
                // width: auto;
                // width: 75%;
                border-top: none;
            }
    
        }
    }
}
