@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Variables */

:root {
  --header-height: 3rem;
  --font-semi:600;
}

:root{
  --primary-color:#4070f4;
  --secondary-color: #0e2431;
  --secondary-bg-color: rgba(14, 36, 49, .2);
}

/*------ Font ------*/
:root {
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/*------- Margin -----*/
:root {
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-8: 4rem;
}

/*------ Z Index ------*/
:root {
  --z-fixed: 100;
}

// Base
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--secondary-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Section
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color:var(--primary-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;

  &::after{
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--primary-color);
  }
}

/*----- Layout -----*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);

}
